.about {
  margin: 15rem 0;
  .title {
    font-family: var(--raleway);
    color: var(--light-mauve);
    position: relative;
    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700&;
      &::before {
        counter-increment: title;
        content: "0" counter(title) ".";
        margin-right: 0.5rem;
        color: var(--theme-color);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        width: 300px;
        background-color: var(--light-mauve);
        height: 2px;
        margin-left: 220px;
      }
    }
  }
  &-grid {
    &-photo {
      display: none;
    }
  }
}