nav {
	min-height: 60px;
	.wrapper {
		padding: 0 4rem;
		width: 100%;
		display: flex;
		align-items: center;
		transition: 0.3s ease-in-out;
		position: relative;
		.brand {
			a {
				height: 3rem;
				width: 3rem;
				margin: 2rem 0;
				fill: none;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--theme-color);
				transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;
        cursor: pointer;
        &:hover {
          fill: #66D3FF;
        }
        &:focus {
          outline-color: var(--theme-color);
          fill: #66D3FF;
        }
			}
		}
	}
}
