:root {
	--tsm: 11px;
	--tsm1: 12px;
	--tsm2: 13px;
	--tbase: 14px;
	--tlarge: 16px;
	--tlarge2: 19px;
	--txlarge: 22px;	
	--tx2large: 32px;
	--tgiant: clamp(40px, 8vw, 65px);
	@media screen and (max-width: 480px) {
		--tx2large: 25px;
		// --tgiant: 40px;
	}

	--raleway: "Raleway", sans-serif;
	--roboto-mono: "Roboto Mono", monospace;
}
