@import './variables';

:root {
  --plum-shadow: rgba(46, 0, 62, 0.7);
  --background-color: #160226; /* Dark Plum */
  --dark-plum: #251035;
  --plum: #310f47;
  --light-plum: #4C1E6B;
  --primary-dark: #251035;
  --primary: #310f47;
  --primary-light: #4C1E6B;
  --dark-mauve: #9375A1;
  --mauve: #C6B2D4;
  --light-mauve: #E3D1EA;
  --text-dark: #9375A1;
  --text: #C6B2D4;
  --text-light: #E3D1EA;
  --theme-color: #00AFFF; /* Electric Blue */
}

body {
  background-color: var(--background-color);
  counter-reset: title;
}

body, html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--theme-color);
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--theme-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
  &-track {
    background-color: var(--background-color);
  }
  &-thumb {
    background-color: var(--text-dark);
    border: 3px solid var(--background-color);
    border-radius: 10px;
  }
}
